
/*------- Variables --------*/

:root {
  --black: rgb(31, 31, 31);
  --white: rgb(240, 240, 240);
  /* --primary: rgb(134, 135, 123);
  --secondary: rgb(19, 52, 110); */

  --primary: rgb(31, 58, 172);
  --secondary: rgb(118, 120, 142);
}

/*------- global fixes --------*/

html{
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}

/*------- colour --------*/

body {
  background-color: var(--primary);
}

*, p, a {
  color: var(--secondary);
}

h1, h2, h3, h4 {
  color: var(--secondary);
}

.title {
  color: var(--secondary);
}

/*------- typography --------*/

*, h1, h2, h3, h4, p, a {
  font-family: 'Epilogue', sans-serif;
  text-decoration: none;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  widows: 2;
  orphans: 2;
}

/*- type sizes -*/

html {
  font-size: 6.25%
}

body, body *{
  font-size: 16rem;
}

h1 {
  font-weight: bold;
  font-size: 96rem;
  line-height: 88rem;
  margin-bottom: 16rem;
  max-width: 1000rem;
}

h2, h2 a {
  font-weight: bold;
  font-size: 72rem;
  line-height: 80rem;
  margin-bottom: 16rem;
  max-width: 1200rem;
}

h3 {
  font-weight: normal;
  font-size: 40rem;
  line-height: 40rem;
  margin-bottom: 16rem;
  max-width: 700rem;
}

h4 {
  font-weight: normal;
  font-size: 24rem;
  line-height: 32rem;
  letter-spacing: .2rem;
  margin-bottom: 16rem;
  max-width: 320rem;
}

.subtitle {
  font-weight: normal;
  font-size: 32rem;
  line-height: 40rem;
  letter-spacing: .2rem;
  margin-bottom: 16rem;
  max-width: 800rem;
}

.subtitle-2 {
  font-weight: normal;
  font-size: 28rem;
  line-height: 32rem;
  letter-spacing: .2rem;
  margin-bottom: 24rem;
  max-width: 500rem;
}

p {
  font-weight: normal;
  font-size: 24rem;
  line-height: 32rem;
  letter-spacing: .2rem;
  margin-bottom: 18rem;
  max-width: 500rem;
}

.caption {
  font-weight: normal;
  font-size: 12rem;
  line-height: 14rem;
  letter-spacing: .2rem;
  margin-bottom: 16rem;
  max-width: 500rem;
}

li {
  margin-bottom: 80px;
  list-style-type: none;
}

li h1, li h2, li h3, li h4 {
  text-indent: 32px;
}

/*------- layout --------*/

main {
  margin-left: 280px;
  margin-right: 40px;
  max-height: 100vh;

  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

header a {
  margin-left: 32px;
  margin-right: 32px;
}

header a:last-child {
  display: none;
}

section {
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.process {
  margin-top: 400px;
  margin-bottom: 400px;
  scroll-snap-align: none;
}

.process ul {
  margin-top: 80px;
}

.about{
  min-height: 0px;
}

.about .profile {
  max-width: 450px;
}

.about .profile{
  padding-bottom: 68px;
}

.contact {
  min-height: 0;
  margin-bottom: 42px;
  margin-top: -36px;
}

/* footer {
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 100vw;
  height: 80px;
  scroll-snap-align: end;
} */

/*------- smaller screens --------*/

@media only screen and (max-width: 1200px) {
  main {
    margin-left: 32px;
  }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 320px) {

}
