/*------- variables --------*/

:root {
  --black: rgba(15, 15, 15, 1);
  --white: rgba(242, 242, 242, 1);
  --h-margin: 80px;
  --v-margin: 16px;
}

/*------- reset --------*/

html,
body,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

p,
a,
li {
  text-decoration: none;
  color: var(--black);
}

/*---------------------------*/
/*------- base styles -------*/




/*------- colour --------*/

body {
  background-color: var(--white);
  color: var(--black);
}

/*------- typography --------*/

h1,
h2,
h3,
.subtitle-1,
.subtitle-2,
P,
a,
.caption {
  font-family: courier, Helvetica, sans-serif;
  font-size: 96px;
  line-height: 100px;
  font-weight: normal;
  max-width: 80rem;
}

/*------- layout --------*/

header {
  margin-top: var(--v-margin);
  margin-bottom: var(--v-margin);
}

header ul li:last-child {
  display: none;
}

footer {
  margin-bottom: var(--v-margin);
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 var(--h-margin);
  overflow-x: hidden;
}

.grid * {
  grid-column: span 1;
}

section {
  margin-bottom: 80px;
  overflow: hidden;
}

/*------- tablet --------*/
/* @media only screen and (min-width: 400px) {
  html {
    background: blue;
  }
} */

/*------- laptop --------*/
/* @media only screen and (min-width: 1200px) {
  html {
    background: red;
  }
} */

/*------- desktop --------*/
/* @media only screen and (min-width: 1600px) {
  html {
    background: green;
  }
} */
